
@import '../../../scss/variables.scss';



.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 4rem;
  background-color: $elements-bc;
  color: $fonts-color;
  font-weight: bolder;

  &__btn-user-info-container__info{
    margin-right: 0.7rem;
  }
}

