
$body-bc:#1e242e;
$elements-bc:#252832;
$fonts-color:#fff;
$footer-bc:rgba($color: #666, $alpha: 0.8);
$log-in-btn:#8e44ad;
$menu-header-bc:#8e44ad;
$login-bc:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 35%, rgba(255,0,219,1) 100%);
$decoration-bc: rgba($color: #777, $alpha: 0.15);
$choose-file-btn-bc:rgba($color: #7709bb, $alpha: 0.2);
$form-error-color: rgb(223, 45, 45);
$inputs-bc:rgba($color: #999, $alpha: 0.2);
