<div class="mat-elevation-z8 table">
  <table mat-table [dataSource]="dataSource">

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Addres Column -->
    <ng-container matColumnDef="addres">
      <th mat-header-cell *matHeaderCellDef> addres </th>
      <td mat-cell *matCellDef="let element"> {{element.addres}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.country !== '' ; else countryHyphen">{{element.country}} </span>
        <ng-template #countryHyphen>-</ng-template>
      </td>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef> Zip </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.zip !==0; else zipHyphen">{{element.zip}} </span>
        <ng-template #zipHyphen>-</ng-template>
       </td>
    </ng-container>

     <!-- download/delete Column -->
     <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell class="table__last-column" *matCellDef="let element">
        <div class="table__btn-container">
          <button mat-icon-button color="accent"
                   aria-label="Download List"
                  *ngIf="element.list.length !== 0"
                  (click)="downloadList(element.id)">
                  <mat-icon>download</mat-icon>
          </button>
          <button
              mat-icon-button
              color="warn"
              aria-label="Delete Warehouse"
              (click)="deleteWarehouse(element.id,element.name)">
              <mat-icon>delete</mat-icon>
          </button>
        </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

