.table{
  padding: 0 2rem 5rem 2rem;
  &__last-column{
    width: 0.5rem;
  }
}

.table__btn-container{
  display: flex;
  justify-content: end;
}

.empty-table{
  width: 100%;
  height: 2rem;
  background-color: rgb(189, 71, 71);
  text-align: center;
  padding:0.5rem 0;
}
